/* Main marketing message and sign up button */
.jumbotron {
	text-align: center;
	background-color:#F8F8F8;
	padding-top: 20px;
	padding-bottom: 0px;
	border-color: #e6e6e6;
	border-width: 1px;
	border-style: solid;
}

.jumbotron h1 {
	position: relative;
	padding-bottom: 0px;
	margin-bottom: 2px;
}

.jumbotron .define-button {
	position: relative;
	left: -24px;
	top: -4px;
}

.definitionChevron {
	position: relative;
	top: 3px;
}

.jumbotron .btn {
	padding: 5px;
	font-size: 15px;
	width: 90px;
	text-align: center;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

/* to do: make the delete button responsive */
.delete-button {
	position: relative;
	top: 3px;
	left: 230px;
	font-style: italic;
	color: #B0B0B0;
}

#words {
	max-width: 700px;
	position: relative;
	top: 22px;
}
